*{
  margin: 0;
  padding: 0;
  background-color: #fff7ec;
}
.img-fluid{
  height: 350px;
  width: 350px;
}
.navbar-nav{
  font-size: 20px;
  padding:
}
.navbar-brand{
  margin-left: 20px;
 color: purple;
}
.main{
  font-family: 'Nunito', sans-serif;
}
